@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Rubik", sans-serif;
}

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 16px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff8f00; /* Color of the scrollbar handle */
  border-radius: 16px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff9100d2; /* Darker color when hovered */
}

/* For Firefox */
* {
  /* scrollbar-width: thin; Scrollbar width */
  scrollbar-color: #ff8f00 #f1f1f1; /* Handle and track colors */
}
